@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#dtlrow2{
  background-image: url(https://raw.githubusercontent.com/farizian/week20/master/img/page.png);
  background-size: cover;
  background-position-y: center;
}
.summary{
  height: 200vh;
  padding: 5% 0 0 7%;
}
.summary .titlebox{
  width: 50%;
  height: 150px;
}
.summary .titlebox h1{
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  color: white;
  text-shadow:  4px 4px 4px black;
}
.summary .descbox{
  background-color: white;
  width: 80%;
  border-radius: 20px;
  padding: 15% 5% 15% 5%;
}
.summary .descbox2{
  background-color: white;
  width: 90%;
  height: 590px;
  margin-top: 50px;
  border-radius: 10px;
}
.summary .descbox .textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.summary .descbox .textbox h1{
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  color: #362115;
}
.summary .descbox .prdbox{
  display: flex;
  padding: 0 0 20px 3%;
}
#idbox0{
  padding-top: 0;
}
.summary .descbox .prdbox img {
  height: 5%;
  width: 18%;
  margin-top: 3px;
  border-radius: 20px;
}
.summary .descbox .prdbox .txt {
  width: 50%;
  padding: 0 0 0 5%;
}
.summary .descbox .prdbox .txt p {
  margin: 0;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.summary .descbox .prdbox .txt2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 10px;
}
.summary .descbox .prdbox .txt2 button{
  list-style-type: none;
  border: none;
  width: 40px;
  height: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: white;
  background-color: #6A4029;
  cursor: pointer;
  transition: 50ms;
}
.summary .descbox .prdbox .txt2 button:hover {
  transform: scale(1.1);
}
.summary .descbox .pricemenu {
  padding-top: 10px;
  border-top: 0.5px solid #d4d3d3;
}
.summary .descbox .pricemenu .txt{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  justify-content: center;
}
.summary .descbox .pricemenu .txt p{
  margin: 0;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #362115;
}
.summary .descbox .pricemenu .txt2{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 2%;
}
.summary .descbox .pricemenu .txt2 .num{
  margin-top: 5px;
}
.summary .descbox .totalbox{
  margin: 10% 0 0 0;
}
.summary .descbox .totalbox .total{
  width: 40%;
  padding-left: 3%;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  color: #362115;
}
.summary .descbox .totalbox .pricettl{
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  color: #362115;
  width: 60%;
  padding-right: 1%;
  text-align: end;
}
.method{
  padding: 16% 7% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.method .text h3{
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-shadow:  4px 4px 4px #000000CC;
  color: white;
  width: 50%;
  text-align: left;
}
.method .text p{
  width: 50%;
  text-align: end;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: white;
}
.method .descbox{
  background-color: white;
  width: 90%;
  height: 198px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 5%;
}
.method .descbox .textbox{
  /* background-color: burlywood; */
  height: 100%;
}
.method .descbox .textbox p{
  width: 100%;
  height: 40px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  margin: 0;
  align-items: center;
  /* background-color: chartreuse; */
  border-bottom: 0.5px solid #cec8c8;
}
.method .descbox .textbox textarea{
  width: 100%;
  height: 120px;
  border: none;
}
.method .descbox .paybox{
  width: 100%;
  padding: 0;
}
.method .descbox .paybox .pay{
  display: flex;
  border: none;
}
.method .descbox .paybox .pay .custom{
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
.method .descbox .paybox .pay .custom input{
  margin-right: 10px;
  color: #6A4029 !important;
  background-color: #6A4029 !important;
  width: 20px;
  height: 20px;
}
input[type=radio]:checked{
  color: #6A4029 !important;
  background: #6A4029 !important;
  background-color: #6A4029 !important;
}
.method .descbox .paybox .pay .custom label{
  height: 100%;
  width: 90%;
  align-items: center;
  border-bottom: 0.5px solid #d4d2d2;
}
.method .descbox .paybox .pay .custom label p{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: black;
}
.method .button{
  width: 90%;
  margin-top: 50px;
}
.method .button button{
  height: 84px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #6A4029;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: white;
  box-shadow: 0px 10px 20px 0px #89553766;
}
.method .button button:hover{
  border: solid 2px rgb(255, 254, 254);
}
.method .descbox2 .insert{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.method .descbox2 .insert .textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
#txtbox1{
  margin-top: 30px;
}
.method .descbox2 .insert .textbox input{
  height: 40px;
  width: 65%;
  border-radius: 20px;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: 20px;
  text-align: left;
}
.method .descbox2 .insert .textbox select {
  height: 40px;
  width: 65%;
  border-radius: 20px;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 0 0 0 20px;
  text-align: left;
}
.method .descbox2 .insert .textbox h3{
  font-family: Rubik;
  width: 65%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  padding-left: 5px;
}
.method .descbox2 .insert button{
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  height: 50px;
  width: 65%;
  border-radius: 20px;
  background-color: #6A4029;
  box-shadow: 0px 6px 20px 0px #6A4029A1;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
  transition: 50ms;
}
.method .descbox2 .insert button:hover{
  transform: scale(1.1);
}
.method .descbox .textbox .text{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #6A4029;
}
.method .descbox .textbox #text1{
  /* background-color: teal; */
  width: 70%;
  margin-bottom: 30px;
}
.method .descbox .sizemenu{
  display: flex;
  flex-direction: column;
  /* background-color: tan; */
  margin-top: 50px;
}
.method .descbox .sizemenu .text{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: black;
}
.method .descbox .sizemenu .sizebox{
  display: flex;
  /* background-color: lawngreen; */
  margin-top: 10px;
  justify-content: center;
}
.method .descbox .sizemenu .sizebox .size{
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: #FFBA33;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-right: 45px;
  transition-duration: 50ms;
  cursor: pointer;
}
.method .descbox .sizemenu .sizebox .size:hover{
  box-shadow: 1px 1px 10px #cccccc;
  transform: scale(1.1);
}
#xl{
  margin-right: 0;
}
.method .delivery{
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 35px;
}
.method .delivery .txtmenu{
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 35px;
}
.method .delivery .buttonbox{
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
}
.method .delivery .buttonbox .btn{
  width: 110px;
  height: 45px;
  background-color: #F4F4F8;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #9F9F9F;
  transition-duration: 50ms;
}
.method .delivery .buttonbox .btn:hover{
  box-shadow: 0px 6px 20px 0px #89553766;
  background-color: #6A4029;
  color: white;
  transform: scale(1.1);
}
#deliv2{
  width: 145px;
  margin: 0 20px 0 20px;
}
.method .delivery .inputbox{
  /* background-color: tomato; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}
.method .delivery .inputbox .text{
  font-size: 20px;
  margin-top: 13px;
  margin-right: 20px;
  height: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
  /* background-color: thistle; */
}
.method .delivery .inputbox .input{
  width: 300px;
  border: none;
  border-bottom: 1px solid #9F9F9F;
  background-color: transparent;
  color: #9F9F9F;
  outline: none;
  font-size: 15px;
}
/* card */
.dtlprdcard{
  position: absolute;
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -68%;
}
.dtlprdcard .card{
  background-color: white;
  box-shadow: 0px 6px 20px 0px #00000057;
  height: 130px;
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 30px;
  align-items: center;
}
.dtlprdcard .card img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.dtlprdcard .card .text{
  /* background-color: teal; */
  width: 48%;
  height: 100px;
  margin: 10px 0 0 30px;
  padding: 0;
}
.dtlprdcard .card .text .header{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.dtlprdcard .card .text .txt{
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.dtlprdcard .card .qtybtn{
  /* background-color: turquoise; */
  width: 26%;
  display: flex;
  justify-content: flex-end;
}
.dtlprdcard .card .qtybtn .btn{
  background-color: #E7AA3685;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  color: #6A4029;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

}
.dtlprdcard .card .qtybtn .qty{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  margin: 0 20% 0 20%;
}
.dtlprdcard .btncard{
  box-shadow: 0px 6px 20px 0px #0B132A3D;
  border: none;
  list-style-type: none;
  background-color: #FFBA33;
  height: 130px;
  width: 180px;
  margin-left: 40px;
  margin-right: 30px;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  transition-duration: 50ms;
}
.dtlprdcard .btncard:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 576px){
  .summary{
    height: auto;
  }
  .method{
    padding: 0;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .method .descbox{
    padding: 10px;
  }
  .method .descbox .textbox .text{
    font-size: 15px;
  }
  .method .descbox .textbox #text1{
    /* background-color: teal; */
    width: 70%;
    margin-bottom: 30px;
  }
  .method .descbox .sizemenu{
    margin-top: 40%;
  }
  .method .delivery .txtmenu{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .method .delivery .buttonbox{
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
  }
  .method .delivery .buttonbox .btn{
    width: 70px;
    font-size: 10px;
  }
  #deliv2{
    width: 110px;
  }
  .method .delivery .inputbox .text{
    font-size: 15px;
  }
  .method .delivery .inputbox .input{
    width: 200px;
    font-size: 13px;
  }
  /* card */
  .dtlprdcard{
    position: absolute;
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -135%;
  }
  .dtlprdcard .card{
    background-color: white;
    box-shadow: 0px 6px 20px 0px #00000057;
    height: 100px;
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 10px;
    align-items: center;
  }
  .dtlprdcard .card img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .dtlprdcard .card .text{
    width: 120px;
    height: 100px;
    margin: 10px 0 0 10px;
    padding: 0;
  }
  .dtlprdcard .card .text .header{
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0;
  }
  .dtlprdcard .card .text .txt{
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }
  .dtlprdcard .card .qtybtn{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
  }
  .dtlprdcard .card .qtybtn .btn{
    background-color: #E7AA3685;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    color: #6A4029;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .dtlprdcard .card .qtybtn .qty{
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    margin: 0 20% 0 20%;
  }
  .dtlprdcard .btncard{
    box-shadow: 0px 6px 20px 0px #0B132A3D;
    border: none;
    list-style-type: none;
    background-color: #FFBA33;
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-right: 0;
    border-radius: 20px;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    transition-duration: 50ms;
  }
}