@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bodyprofile{
  background-image: url('https://raw.githubusercontent.com/farizian/week20/master/img/bg3.png');
}
.bodyprofile .row{
  padding: 6%;
  
}
.row .title{
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  color: white;
}
.photobox{
  padding: 50px 5% 20px 5%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #F8F8F8;
}
.photobox .rowimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photobox .rowimg .imgbox{
  width: 80%;
}
.photobox .rowimg .imgbox img{
  width: 100%;
  height: 220px;
  border-radius: 120px;
  margin-bottom: 20px;
}
.photobox .rowimg .imgbox h3{
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: black;
  text-align: center;
}
.photobox .rowimg .imgbox p{
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: white;
  text-align: center;
}
.photobox .rowimg .buttonbox1{
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photobox .rowimg .buttonbox1 button{
  height: 44px;
  width: 95%;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  background-color: #FFBA33;
  color: #6A4029;
  border: none;
}
.photobox .rowimg .buttonbox1 Input#file-input{
  display: none;
}
.photobox .rowimg .buttonbox1 Input#file-input + label{
  background-color: #FFBA33;
  height: 44px;
  width: 95%;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6A4029;
  cursor: pointer;
}
.photobox .rowimg .buttonbox1 Input#file-input + label:hover{
  background-color: #705621;
  color: #382216;
}
.photobox .rowimg .buttonbox1 .remove{
  background-color: #6A4029;
  color: white;
}
.photobox .rowimg .buttonbox1 .remove:hover{
  background-color: #382216;
  color: rgb(148, 145, 145);
}
.photobox .rowimg .buttonbox1 .editpw{
  height: 60px;
  width: 207px;
  background-color: white;
  color: #382216;
  border-radius: 20px;
}
.photobox .rowimg .buttonbox1 button:hover{
  background-color: #c2c0bc;
  color: #975b3b;
}
.photobox .rowimg .buttonbox2{
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photobox .rowimg .buttonbox2 h3{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #6A4029;
  text-align: center;
  margin: 30px 0 30px 0;
}
.photobox .rowimg .buttonbox2 button{
  height: 60px;
  width: 95%;
  border-radius: 20px;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  background-color: #6A4029;
  color: white;
  margin-bottom: 20px;
}
.photobox .rowimg .buttonbox2 .cancel{
  background-color: #FFBA33;
  color: #6A4029;
}
.photobox .rowimg .buttonbox2 .cancel:hover{
  background-color: #705621;
  color: #382216;
}
.photobox .rowimg .buttonbox2 button:hover{
  background-color: #382216;
  color: rgb(148, 145, 145);
  box-shadow: 0px 10px 20px 0px #00000038;
}
.photobox .rowimg .buttonbox2 .logout{
  background-color: white;
  color: #6A4029;
  border: 1px solid #9F9F9F
}
.photobox .rowimg .buttonbox2 .logout:hover{
  background-color: rgb(146, 145, 145);
  color: #4b2d1d;
}
.inputcontainer{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 50px 2% 20px 0;
  background-color: #F8F8F8;
}
.inputcontainer .row{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  padding: 0;
  padding: 0 20px 0 20px;
  box-shadow: 0px 6px 20px 0px #00000038;
  background-color: white;
}
.inputcontainer .row .box1{
  height: 85vh;
  margin-top: 25px;
  /* background-color: tomato; */
  padding: 0;
}
.inputcontainer .row .box1 h3{
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: #4F5665;
}
.inputcontainer .row .box1 .inputbox1{
  margin-top: 20px;
  /* background-color: turquoise; */
}
.inputcontainer .row .box1 .inputbox1 p{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #9F9F9F;
  margin: 0;
}
.inputcontainer .row .box1 .inputbox1 input{
  width: 87%;
  border: none;
  outline: 0px;
  margin-top: 5px;
  border-bottom: 1px solid black;
}
.inputcontainer .row .box1 .inputbox1 textarea{
  border: none;
  border-bottom: 1px solid black;
  width: 87%;
  outline: 0px;
  margin: 5px 0 0 0;
  text-decoration: none;
  list-style-type: none;
}

.inputcontainer .row .box2{
  padding: 0;
  height: 90vh;
  margin-top: 15px;
  /* background-color: #FFBA33; */
}
.inputcontainer .row .box2 .imgbox{
  height: 49px;
  width: 47px;
  border-radius: 50px;
  margin-left: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6A4029;
}
.inputcontainer .row .box2 .imgbox img{
  width: 20px;
  height: 20px;
}
.inputcontainer .row .box2 .inputbox1{
  margin-top: 11px;
  /* background-color: turquoise; */
}
.inputcontainer .row .box2 .inputbox1 input{
  width: 83%;
  border: none;
  outline: 0px;
  margin-top: 5px;
  border-bottom: 1px solid black;
}
.inputcontainer .row .box2 .inputbox1 select{
  width: 83%;
  border: none;
  outline: 0px;
  border-bottom: 1px solid black;
}
.inputcontainer .row .box2 .inputbox1 p{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #9F9F9F;
  margin: 0;
}
.inputcontainer .row .radiobox{
  width: 100%;
  margin: 30px 0 50px 0;
  align-items: center;
  justify-content: center;
}
.inputcontainer .row .radiobox .form-check{
  margin-right: 90px;
}
.inputcontainer .row .radiobox .form-check label{
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #9F9F9F;  
}
.inputcontainer .row .radiobox .form-check input{
  margin-top: 8px;
}
.inputcontainer .row .radiobox .form-check label:checked{
  background-color: aqua !important;
  color: #FFBA33;
}

@media screen and (max-width: 576px){
  .bodyprofile{
    background-image: url('https://raw.githubusercontent.com/farizian/week20/master/img/bg3.png');
  }
  .bodyprofile .row{
    padding: 6%;
    
  }
  .row .title{
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    color: white;
  }
  .photobox{
    padding: 50px 5% 20px 5%;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #F8F8F8;
  }
  .inputcontainer{
    border-radius: 20px;
    padding: 50px 0 20px 0;
    background-color: #F8F8F8;
  }
  .inputcontainer .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0px 6px 20px 0px #00000038;
    background-color: white;
  }
  .inputcontainer .row .box1{
    height: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    padding: 0;
  }
  .inputcontainer .row .box1 h3{
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #4F5665;
  }
  .inputcontainer .row .box1 .inputbox1{
    margin-top: 20px;
    /* background-color: turquoise; */
  }
  .inputcontainer .row .box1 .inputbox1 p{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #9F9F9F;
    margin: 0;
  }
  .inputcontainer .row .box1 .inputbox1 input{
    width: 87%;
    border: none;
    outline: 0px;
    margin-top: 5px;
    border-bottom: 1px solid black;
  }
  .inputcontainer .row .box1 .inputbox1 textarea{
    border: none;
    border-bottom: 1px solid black;
    width: 87%;
    outline: 0px;
    margin: 5px 0 0 0;
    text-decoration: none;
    list-style-type: none;
  }
  
  .inputcontainer .row .box2{
    padding: 0;
    height: unset;
    margin-top: 15px;
    /* background-color: #FFBA33; */
  }
  .inputcontainer .row .box2 .imgbox{
    display: none;
  }
  .inputcontainer .row .box2 .inputbox1{
    margin-top: 11px;
    /* background-color: turquoise; */
  }
  .inputcontainer .row .box2 .inputbox1 input{
    width: 83%;
    border: none;
    outline: 0px;
    margin-top: 5px;
    border-bottom: 1px solid black;
  }
  .inputcontainer .row .box2 .inputbox1 select{
    width: 83%;
    border: none;
    outline: 0px;
    border-bottom: 1px solid black;
  }
  .inputcontainer .row .box2 .inputbox1 p{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #9F9F9F;
    margin: 0;
  }
  .inputcontainer .row .radiobox{
    width: 100%;
    margin: 30px 0 50px 0;
    align-items: center;
    justify-content: center;
  }
  .inputcontainer .row .radiobox .form-check{
    margin-right: 90px;
  }
  .inputcontainer .row .radiobox .form-check label{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #9F9F9F;  
  }
  .inputcontainer .row .radiobox .form-check input{
    margin-top: 8px;
  }
  .inputcontainer .row .radiobox .form-check label:checked{
    background-color: aqua !important;
    color: #FFBA33;
  }
}
