@import url('http://fonts.cdnfonts.com/css/airbnb-cereal-app');

/* home css */
.itemmenu{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    /* background-color: cadetblue !important; */
}
.itemmenu .product{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E5E5E5;
    border-right: solid 2px rgb(180, 178, 178);
    /* background-color: blueviolet; */
    transition: all ease-in-out 500ms;
}
.itemmenu .product .prd{
    display: flex;
    flex-direction: column;
    /* background-color: cyan; */
    margin: 20px;
    transition: 50ms;
}
.itemmenu .product .prd:hover{
    transform: scale(1.1);
}
.itemmenu .product .prd img{
    width: 220px;
    height: 160px;
    cursor: pointer;
}
.itemmenu .product .prd .itemname{
    font-size: 15px;
    font-weight: 500;
}
.itemmenu .product .prd .itemprice{
    font-size: 15px;
    font-weight: 800;
}
.itemmenu .row{
    width: 100%;
    /* background-color: cadetblue; */
}

/* history css */
.income{
    display: flex;
    /* background-color: burlywood; */
    height: 260px;
    padding: 15px;
}
.income .card{
    display: flex;
    width: 35%;
    height: 213px;
    margin: 10px;
    border-radius: 10px;
}
.income .card img{
    width: 190px;
    height: 140px;
    margin-top: 12px;
    margin-left: 190px;
}
.card .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 50px 50px 30px;
}
.card .namecard{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
.card .price{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
.card .year{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}
#one{
    background: linear-gradient(278.29deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
    box-shadow: 10px 15px 10px 0px #FF8FB240;
}
#two{
    background: linear-gradient(278.29deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
    box-shadow: 10px 15px 10px 0px #29DFFF40;
}
#three{
    background: linear-gradient(278.29deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
    box-shadow: 10px 15px 10px 0px #F1C9EC40;
}
.revenue{
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.revenue .chart{
    width: 100%;
}
.recent{
    /* background-color: coral; */
    width: 100%;
    margin: 0;
    padding: 0;
}
.recent .square{
    width: 95%;
    height: 200px;
    margin-left: 32px;
    border-radius: 10px;
    border: solid 1px rgb(240, 237, 237);
    box-shadow: 10px 10px 20px 0px #00000040;
}
.recent .square .row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.recent .tbl1{
    height: 70px;
    display: flex;
    align-items: center;
}
.recent .tbl1 p{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0em;
    margin-top: 10px;
    text-align: left;
}
.recent .tbl2{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.recent .tbl2 .dropdown{
    background: #CECECE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 90px;
    margin-right: 20px;
    border-radius: 10px;
}
.recent .tbl2 .dropdown p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0em;
    margin-top: 16px;
    margin-right: 10px;
}
.recent .tbl2 .dropdown img{
    width: 10px;
    height: 10px;
    margin-top: 5px;
}
.table{
    padding: 0;
    display: flex;
    align-items: center;
}
.table .data{
    padding-left: 30px;
    padding-top: 30px;
}
.table .data h1{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: left;
}
.table .data p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    color: #CECECE;
}
#data3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 30px;
}
#data4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 30px;
}
.line{
    position: absolute;
    width: 1211px;
    
}
