@import url('http://fonts.cdnfonts.com/css/airbnb-cereal-app');

.cart{
    display: flex;
    flex-direction: column;
    height: 720px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: khaki; */
}
.cart .cartpack{
    height: 530px;
    overflow: overlay;
    /* background-color: brown; */
}
.cart .cartid{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    /* background-color: violet; */
}
.cart .cartpack::-webkit-scrollbar {
    background:transparent;
}
.cart .cartid .cartqty{
    height: 100vh;
    /* background-color: hsl(71, 57%, 50%); */
}
.cart .cartid .cartprd{
    display: flex;
    /* background-color: aqua; */
    margin-top: 15px;
    margin-bottom: 0;
}
.cart .cartid .cartprd img{
    width: 100px;
    height: 100px;
}
.cart .cartid .cartprd .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
    width: 160px;
    padding-right: 7px;
}
.cart .cartid .cartprd .row .cartname{
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Airbnb Cereal App', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
    padding-left: 7px;
    /* background-color: yellow; */
}
.cart .cartid .cartprd .row .btn{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    /* background-color: grey; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.cart .cartid .cartprd .row .btn .qty{
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid#82DE3A;
    color: #82DE3A;
    font-size: 20px;
}
.cart .cartid .cartprd .row .btn .min{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid#82DE3A;
    color: #82DE3A;
    margin-left: 10px;
    font-size: 25px;
}
.cart .cartid .cartprd .row .btn .max{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid#82DE3A;
    color: #82DE3A;
    font-size: 25px;
}
.cart .cartid .cartprd .row2{
    width: 160px;
    display: flex;
    margin-left: -10px;
    align-items: flex-end;
    justify-content: flex-end;
    /* background-color: rgb(35, 114, 55); */
}
.cart .cartid .cartprd .row2 .cartprice{
    font-size: 20px;
    font-weight: 500;
    /* background-color: yellow; */
}
.cart .cartid .cartqty .empty{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cart .cartid .cartqty .empty .cup{
    width: 200px;
    height: 200px;
    margin-bottom: -30px;

}
.cart .cartid .cartqty .empty h3{
    font-size: 27px;
    font-weight: 600;
}
.cart .cartid .cartqty .empty p{
    font-size: 20px;
    font-weight: 500;
    color: #CECECE;
    text-align: center;
}
.row .row{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.ttl{
    padding: 0;
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.ttl .totalitem{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    /* background-color: lawngreen; */
}
.ttl .totalitem .text{
    display: flex;
    /* background-color: cadetblue; */
}
.ttl .totalitem .text .text1{
    padding-left: 25px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: coral; */
}
.ttl .totalitem .text .text1 .titletotal{
    font-size: 24px;
    font-weight: 600;
}
.ttl .totalitem .text .text1 .ppn{
    font-size: 20px;
    font-weight: 300;
}
.ttl .totalitem .text .text2{
    padding-right: 15px;
    width: 220px;
    /* background-color: crimson; */
    display: flex;
    justify-content: flex-end;
}
.ttl .totalitem .text .text2 .number{
    text-align: end;
    border: none;
    list-style-type: none;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
}
.ttl .totalitem .check{
    font-size: 25px;
    font-weight: 400;
    color: white;
    border: none;
    background-color: #57CAD5;
    width: 88%;
    height: 60px;
    margin-bottom: 10px;
    transition: 50ms;
}
.ttl .totalitem .check:hover{
    transform: scale(1.1);
}
.ttl .totalitem .cancel{
    font-size: 25px;
    font-weight: 400;
    color: white;
    border: none;
    background-color: #F24F8A;
    width: 88%;
    height: 60px;
    transition: 50ms;
}
.ttl .totalitem .cancel:hover{
    transform: scale(1.1);
}

